<div [class.visiblility-hidden]="isLoading">
    <div class="container">
        <div class="card card-flush shadow-none bg-transparent my-10">
            <div class="card-header align-items-center justify-content-center">
                <div class="title-labtest text-danger">
                    Lab Tests
                </div>
                <div class="mb-3 fs-4">
                    Our team of health experts have curated lab test packages for women based on symptoms we face.
                    Select and book now and get easy home collection.
                </div>
            </div>
            <div class="card-body px-0">
                <ng-container *ngFor="let test of testList; let index = index">
                    <section class="mb-10" *ngIf="index < 2">
                        <div class="card card-flush shadow-sm test-card">
                            <div class="card-header collapsible rotate">
                                <h3 class="card-title"> {{test?.name}}</h3>
                                <div class="card-toolbar">
                                    <button [id]="test?.gtl_id" [attr.data-uniqueId]="test?.gtl_id"  type="button"
                                        class="btn btn-sm btn-danger" (click)="bookDoctor(test)">
                                        BOOK NOW
                                    </button>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <p>{{test?.description}}</p>

                                <div class="d-flex align-items-end justify-content-between">
                                    <span class="fw-bolder fs-4 currency-font">{{test?.rate?.offerRate | currency:
                                        'INR'}} <span style="
                                    font-size: 12px;
                                ">(includes {{test?.childs?.length}} {{test?.childs?.length > 1 ? 'tests' :
                                            'test'}})</span></span>
                                    <button type="button" class="btn btn-sm btn-link text-dark collapsible toggle"
                                        data-bs-toggle="collapse" [attr.data-bs-target]="'#test' + index"
                                        aria-expanded="false"> Click for package details <img
                                            img-preloader="https://image.gytree.com/assets/media/gaytree/icons/arrow-down.svg" alt="arrow"
                                            height="14" width="14">
                                    </button>
                                </div>
                                <!-- <div class="fw-bold my-2">This package includes {{test?.childs?.length}} tests.</div> -->
                            </div>
                            <div class="collapse" [id]="'test' + index">
                                <div class="card-body pt-0">
                                    <div class="separator border-3 border-gray-300 mb-5"></div>
                                    <div class="lh-lg">
                                        <ul *ngFor="let testdesc of test.childs">
                                            <li> {{testdesc?.name}} </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </ng-container>
                <!-- No data Found Start -->
                <ng-container *ngIf="testList && !testList.length">
                    <div class="text-center text-danger h1">No records found</div>
                </ng-container>
                <!-- No data Found End-->

                <section class="py-10 mb-10" *ngIf="testConfig">
                    <h2 class="text-danger fs-1 text-center">How does it work?</h2>
                    <div class="row">
                        <ng-container *ngFor="let config of testConfig;let index = index">
                            <div class="col-md-3">
                                <div class="block">
                                    <div class="block-number">
                                        <div class="block-number_cover" [ngClass]="addTransformClass(index)"></div>
                                        <div class="block-number_content">
                                            {{config?.id}}
                                        </div>
                                    </div>
                                    <div class="block-details">
                                        <div class="block-details_header min-h-50px text-danger">
                                            {{config?.title}}
                                        </div>
                                        <div class="block-details_description min-h-40px">
                                            {{config?.desc}}
                                        </div>
                                    </div>
                                    <div class="block-graphic">
                                        <img [src]="config?.image" alt="image" class="block-graphic_image">
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </section>

                <ng-container *ngFor="let test of testList; let index = index">
                    <section class="mb-10" *ngIf="index > 1">
                        <div class="card card-flush shadow-sm test-card">
                            <div class="card-header collapsible rotate">
                                <h3 class="card-title"> {{test?.name}}</h3>
                                <div class="card-toolbar">
                                    <button [id]="test?.gtl_id" [attr.data-uniqueId]="test?.gtl_id" type="button"
                                        class="btn btn-sm btn-danger" (click)="bookDoctor(test)">
                                        BOOK NOW
                                    </button>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <p>{{test?.description}}</p>

                                <div class="d-flex align-items-end justify-content-between">
                                    <span class="fw-bolder fs-4 currency-font">{{test?.rate?.offerRate | currency:
                                        'INR'}} <span style="
                                    font-size: 12px;
                                ">(includes {{test?.childs?.length}} {{test?.childs?.length > 1 ? 'tests' :
                                            'test'}})</span></span>
                                    <button type="button" class="btn btn-sm btn-link text-dark collapsible toggle"
                                        data-bs-toggle="collapse" [attr.data-bs-target]="'#test' + index"
                                        aria-expanded="false"> Click for package details <img
                                            img-preloader="https://image.gytree.com/assets/media/gaytree/icons/arrow-down.svg" alt="arrow"
                                            height="14" width="14">
                                    </button>
                                </div>
                                <!-- <div class="fw-bold my-2">This package includes {{test?.childs?.length}} tests.</div> -->
                            </div>
                            <div class="collapse" [id]="'test' + index">
                                <div class="card-body pt-0">
                                    <div class="separator border-3 border-gray-300 mb-5"></div>
                                    <div class="lh-lg">
                                        <ul *ngFor="let testdesc of test.childs">
                                            <li> {{testdesc?.name}} </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </ng-container>

                <!-- Explore Age Start -->
                <section class="age-list my-20" *ngIf="ages">
                    <div class="fw-bolder mb-6 fs-2">Explore Age wise</div>
                    <div class="mb-3 fs-4">
                        Find these science backed packages according to your age
                    </div>
                    <div class="row">
                        <div class="col-sm-4" *ngFor="let age of ages">
                            <div class="card text-white h-100 cursor-pointer"
                                (click)="ageGroupClickHandler(age.gtag_value)">
                                <div class="card-body">
                                    <span class="">
                                        {{age?.gtag_value}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- No data Found Start -->
                    <div *ngIf="ages && !ages.length">
                        <div class="text-center text-danger h1">No records found</div>
                    </div>
                    <!-- No data Found End-->
                </section>
                <!-- Explore Age End -->

                <!-- Consult Via Health Clinics start -->
                <section class="consult-list my-20" *ngIf="consults">
                    <div class="fw-bolder mb-6 fs-2">Consult Via Health Clinics</div>
                    <div class="mb-3 fs-4">
                        Choose the area of your concern and get the solution to your problem through these science
                        backed
                        packages curated according to your health needs.
                    </div>
                    <div class="row">
                        <div class="health-clinic-width col-12 col-md-6 col-lg-4 mb-8"
                            *ngFor="let consult of consults; let index = index">
                            <div class="card text-custom ms-0 me-0">
                                <div class="consult-card-body">
                                    <img img-preloader="{{consult?.gthc_image}}" height="62" width="62"
                                        [alt]="consult?.gthc_name" class="image-top">
                                    <div class="title cursor-pointer"
                                        (click)="healthClinicClickHandler(consult.gthc_name)">
                                        {{consult?.gthc_name?.replaceAll('-', ' ')}}
                                    </div>
                                    <div class="description mt-6 max-line-3 collapse consult-desc-max-height"
                                        [id]="'test_consult_via_health_' + index">
                                        {{consult?.gthc_dscr}}
                                    </div>
                                    <div class="download collapsible toggle"
                                        (click)="onToggleConsultConsultHealthClinic(consult)" data-bs-toggle="collapse"
                                        [attr.data-bs-target]="'#test_consult_via_health_' + index"
                                        aria-expanded="false">
                                        <img class="download-image-rotation" [class.transform180]="consult?.isOpen"
                                            img-preloader="https://image.gytree.com/assets/media/gaytree/icons/arrow-down-3.svg"
                                            alt="arrow-down" height="20" width="20">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- No data Found Start -->
                        <ng-container *ngIf="consults && !consults.length">
                            <div class="text-center text-danger h1">No records found</div>
                        </ng-container>
                        <!-- No data Found End-->
                    </div>
                </section>
                <!-- Consult Via Health Clinics end -->

                <!-- Articles start -->
                <section class="article-list my-20" *ngIf="articles">
                    <div class="fw-bolder mb-6 fs-2">Must Read</div>
                    <div class="mx-10 mx-lg-0">
                        <owl-carousel-o [options]="articleList">
                            <ng-container *ngFor="let article of articles">
                                <ng-template carouselSlide [id]="article?.id" [width]="300">
                                    <div class="card responsive-slides card-flush bg-transparent cursor-pointer"
                                        (click)="articleClickHandler(article.link)">
                                        <img img-preloader="{{article?._embedded['wp:featuredmedia'] && article?._embedded['wp:featuredmedia'][0]?.media_details?.sizes?.medium?.source_url }}"
                                            alt="image" width="300" height="169" class="card-shadow rounded">
                                        <div class="fs-2 fw-bolder text-danger mt-3 ms-2 title-height max-line-2"
                                            [innerHTML]="(article?.title?.rendered || '') | safe: 'html'"></div>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                        <!-- No data Found Start -->
                        <ng-container *ngIf="articles && !articles.length">
                            <div class="text-center text-danger h1">No records found</div>
                        </ng-container>
                        <!-- No data Found End-->
                    </div>
                </section>
                <!-- Articles start -->

            </div>
        </div>
    </div>
</div>