.name-min-height {
    min-height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .desc-min-height {
    min-height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
  }