@import "../../../assets/sass/gytree-config.scss";

:host ::ng-deep {
  .sidebar {
    background: transparent;

    // background: linear-gradient(0deg, #170b64 -2.19%, #fa7586 100%);
    .rating-input:checked~.rating-label>.svg-icon,
    label.rating-label:hover~.rating-label {
      color: #fff;
    }
  }

  .sidebar-content {
    background-color: linear-gradient(0deg, #170b64 -2.19%, #fa7586 100%);
    background-image: url("https://image.gytree.com/assets/media/gaytree/background/sidebar-bg.svg");
    background-size: cover;
    border-radius: 0;
  }

  .other-packages {
    .card {
      margin: 0 16px 0 0;
      box-shadow: 1.5748px 1.5748px 3.14959px rgba(0, 0, 0, 0.25);

      .card-img-top {
        height: 130px;
        background-color: #dce2e5;
        border-radius: 12px 100px 12px 12px;
        object-fit: cover;
      }

      .btn-more {
        position: absolute;
        right: -10px;
        top: -8px;
        font-size: 20px;
        color: #fff;
      }
    }

    .active {
      transition: all 0.3s;
      margin-top: 20px;

      h5 {
        font-size: 1.25rem;
      }

      .card-text {
        font-size: 11px;
      }

      &.center {
        opacity: 1;
        margin-top: 0;

        .card-img-top {
          height: 150px;
        }

        h5 {
          font-size: 1.75rem;
        }

        .card-text {
          font-size: 12px;
        }
      }
    }
  }
}

.card-shadow {
  box-shadow: 2.68727px 5.37455px 5.37455px rgba(0, 0, 0, 0.25);
}

.card-info {
  background: $g-green;
}

.card-red {
  background: $g-red;
}

.card-blue {
  background: $g-blue;
}

.card-purple {
  background: $g-purple;
}

.card-background {
  background-color: #fbf7f2;
}

.badge-success {
  background-color: #34a869 !important;
}

.drawer.drawer-end {
  right: 0;
  transform: translateX(100%);
}

.drawer-on {
  transform: none !important;
  box-shadow: 0px 1px 9px -3px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease-in-out;
}

.auto_height {
  height: auto !important;
}

.btn-close-icon {
  position: absolute;
  right: 20px;
  top: 29px;
}