@import "../../../../../assets/sass/gytree-config.scss";

.package-mobile {
  .card {
    margin: 0 0 16px 0;
    flex-direction: row;

    .card-img-top {
      width: 114px;
      height: 120px !important;
      border-radius: 10px !important;
      object-fit: cover !important;
    }

    .img-cover {
      object-fit: cover;
    }

    .card-body {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        background: rgb(255 255 255 / 10%);
        bottom: 0;
        top: 0;
        border-top-right-radius: 80px;
      }
    }
  }
}

.title-min-height {
  min-height: 55px;
}

.custom-height {
  .owl-stage {
    display: flex;
    align-items: center;
    min-height: 393px;

    .owl-item.active {
      margin-top: 0;
    }
  }

  .owl-item.center {
    .card {
      min-height: 393px;

      .card-body {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.btn-more {
  position: absolute;
  right: -10px;
  top: -8px;
  font-size: 20px;
  color: #fff;
}

.setRatio > img{
  // min-width: 114;
  // min-height: 114;

  // aspect-ratio: none ;
  // width: auto !important;
  // height: auto !important;
}