@import "../../../assets/sass/gytree-config.scss";

.title-package {
  background-image: url('https://image.gytree.com/assets/media/gaytree/background/button_bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 33px;
  font-weight: bolder;
  font-size: 24px;
}

:host ::ng-deep {


  .age-list {
    .card {
      background-color: $g-red-light;
      border: 5px solid #fff;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  .consult-list {
    .card {
      border: 3px solid $g-red-light;
      text-align: center;
      margin-top: 30px;
      margin-right: 20px;
      margin-left: 20px;

      .image-top {
        position: absolute;
        right: -31px;
        top: -31px;
        width: auto;

        @media (max-width: 991px) {
          right: -25px;
        }

        @media (max-width: 767px) {
          right: -21px;
        }
      }

      .title {
        font-size: 18px;
        font-weight: 600;
      }

      .download {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        cursor: pointer;
      }
    }

    .active {
      .card {
        .description {
          display: none;
        }
      }

      &.center {
        .card {
          .description {
            display: block;
          }
        }
      }
    }
  }

  @media (max-width: 575px) {
    .age-list {
      .card {
        margin: 0;
        font-size: 14px;

        &-body {
          padding: 1rem;
        }
      }
    }

    .consult-list {
      .card {
        margin-left: 0;
      }
    }
  }


  .other-packages {
    .card {
      margin: 0 16px 0 0;
      box-shadow: 1.5748px 1.5748px 3.14959px rgba(0, 0, 0, 0.25);

      .card-img-top {
        height: 130px;
        background-color: #dce2e5;
        border-radius: 12px 80px 12px 12px;
        object-fit: cover;
      }

      .btn-more {
        position: absolute;
        right: -10px;
        top: -8px;
        font-size: 20px;
        color: #fff;
      }
    }

    .active {
      transition: all 0.3s;
      margin-top: 20px;

      h5 {
        font-size: 1.25rem;
      }

      .card-text {
        font-size: 11px;
      }

      &.center {
        opacity: 1;
        margin-top: 0;

        .card-img-top {
          height: 150px;
        }

        h5 {
          font-size: 1.75rem;
        }

        .card-text {
          font-size: 12px;
        }
      }
    }
  }
}

.text-custom {
  color: $g-red-light;
}

.card-shadow {
  box-shadow: 2.68727px 5.37455px 5.37455px rgba(0, 0, 0, 0.25);
}

@media (min-width: 992px) {
  .health-clinic-width {
    flex: 0 0 auto;
    width: 33.33%;
  }
}

.consult-card-body {
  padding: 2rem 2.25rem 2rem 2.25rem;
}

.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-height {
  min-height: 52px;
}

.consult-desc-max-height {
  height: 62px !important;
}



.card-shadow {
  box-shadow: 2.68727px 5.37455px 5.37455px rgba(0, 0, 0, 0.25);
}

.card-info {
  background: $g-green;
}

.card-red {
  background: $g-red;
}

.card-blue {
  background: $g-blue;
}

.card-purple {
  background: $g-purple;
}

.card-background {
  background-color: #FBF7F2;
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 0.65rem;
  border-top-right-radius: 0.65rem;
  color: black;
  font-size: 14px;
}

.nav-tabs .nav-link.active {
  color: $g-red-light;
  background-color: #ffffff;
  border-color: #E4E6EF #E4E6EF #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.visiblility-hidden {
  visibility: hidden;
}