<!-- <div class="container">
    <div class="card card-flush shadow-none bg-transparent my-10">
        <div class="card-header align-items-center justify-content-center">
            <div class="title text-danger">
                Privacy Policy
            </div>
        </div>
        <div class="card-body">
            <section>
                <div [innerHTML]="(privacyPolicy?.gtmp_value || '') | safe: 'html'">
                </div>
            </section>
            <ng-container *ngIf="privacyPolicy && !privacyPolicy?.gtmp_value">
                <div class="text-center text-danger h1">No records found</div>
            </ng-container>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="card card-flush shadow-none bg-transparent my-10">
        <div class="card-header align-items-center justify-content-center">
            <div class="title text-danger">Privacy Policy</div>
        </div>
        <div class="card-body">
            <p class="fs-5">This Privacy Policy is an electronic record in the form of an electronic contract. This
                Privacy Policy does not require any physical, electronic or digital signature.</p>
            <p class="fs-5">Digitalist Tech Media Pvt. Ltd. (“Company”/ “We”/ “Us”/ “Our”) is committed to ensuring the
                privacy of our users (“User”, “You”, “Yourself or “Your”). This “Privacy Policy” elucidates the manner
                in which your information is collected, stored and used by Us in the course of your use of the Website
                (<a href="https://gytree.com/" target="_blank">www.gytree.com</a>).</p>
            <p class="fs-5">PLEASE READ THIS PRIVACY POLICY CAREFULLY ALONG WITH THE TERMS OF USE. BY USING THE WEBSITE,
                YOU INDICATE THAT YOU UNDERSTAND, AGREE AND CONSENT TO THIS PRIVACY POLICY AND TERMS OF USE. IF YOU DO
                NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY OR TERMS OF USE, PLEASE DO NOT USE THIS WEBSITE.</p>
            <p class="fs-5">By providing us your Information or by making use of the facilities provided by the Website,
                You hereby consent to the collection, storage, processing and transfer of any or all of Your Personal
                Information and Non-Personal Information by the Company as specified under this Privacy Policy. You
                further agree that such collection, use, storage and transfer of Your Information shall not cause any
                loss or wrongful gain to you or any other person.</p>
            <p class="fs-5">Digitalist Tech Media and its subsidiaries and affiliates and Associate Companies and
                includes the brand “Gytree” is/are concerned about the privacy of the data and information of users
                (buyers/customers/browsers whether registered or non- registered) accessing, or purchasing products or
                services on Our websites, mobile sites or mobile applications ("Website") on the Website and otherwise
                doing business with Us . "Associate Companies" here shall have the same meaning as ascribed in Companies
                Act, 2013.</p>
            <p class="fs-5">This Privacy Policy is a contract between You and US. This Privacy Policy shall be read
                together with the respective Terms Of Use or other terms and conditions of the Website or nature of
                business of the Website.</p>
            <p class="fs-5">This Privacy Policy may be amended / updated from time to time. Upon amending / updating the
                Privacy Policy, We will accordingly amend the date above. We suggest that you regularly check this
                Privacy Policy to apprise yourself of any updates. Your continued use of Website or provision of data or
                information thereafter will imply Your unconditional acceptance of such updates to this Privacy Policy.
            </p>
            <p class="fs-5"></p>
            <ol>
                <li class="fs-2 fw-bolder text-danger mb-4">Information collected and storage of such Information:
                    <p class="fs-5 fw-normal text-dark">The Information (which shall also include data) provided by You
                        to Us or collected from You by Us may consist of "Personal Information" and "Non-Personal
                        Information".</p>
                    <ol class="fw-normal text-dark">
                        <li class="fs-5 fw-bold">Personal Information
                            <p class="fs-5 fw-normal text-dark">Personal Information is Information collected that can
                                be used to uniquely identify or contact You. Personal Information for the purposes of
                                this Privacy Policy shall include, but not be limited to:</p>
                            <ol class="fw-normal text-dark">
                                <li class="fs-5">Your name,</li>
                                <li class="fs-5">Your address,</li>
                                <li class="fs-5">Your telephone number,</li>
                                <li class="fs-5">Your e-mail address or other contact information,</li>
                                <li class="fs-5">Your date of birth,</li>
                                <li class="fs-5">Your gender,</li>
                                <li class="fs-5">Information regarding your transactions on the Website, (including
                                    sales or purchase history),</li>
                                <li class="fs-5">Internet Protocol address,</li>
                                <li class="fs-5">Identification code of your communication device which You use to
                                    access the Website or otherwise deal with Us,</li>
                                <li class="fs-5">Any other Information that You provide during Your registration
                                    process, if any, on the Website.</li>
                                <li class="fs-5">Medical Information shall be collected for the purpose of providing
                                    medical services;</li>
                            </ol>
                            <br />
                            <p class="fs-5 fw-normal text-dark">Such Personal Information (which includes Sensitive
                                Personal Information) may be collected in various ways including during the course of
                                Your interaction with Our Website and includes the following:</p>
                            <ol class="fw-normal text-dark">
                                <li class="fs-5">Registering as a user on the Website,</li>
                                <li class="fs-5">Availing certain services offered on the Website.</li>
                                <li class="fs-5">Otherwise doing business on the Website or otherwise dealing with Us.
                                </li>
                            </ol>
                            <br />
                            <p class="fs-5 fw-normal text-dark">We may receive Personal information about you from third
                                parties, such as social media services, commercially available sources and business
                                partners. If You access Website through a social media service or connect a service on
                                Website to a social media service, the information we collect may include Your user name
                                associated with that social media service, any information or content the social media
                                service has the right to share with Us, such as Your profile picture, email address or
                                friends list, and any information You have made public in connection with that social
                                media service. When You access the Website or otherwise deal with Us through social
                                media services or when You connect any Website to social media services, You are
                                authorizing Us to collect, store, and use and retain such information and content in
                                accordance with this Privacy Policy.</p>
                        </li>
                        <li class="fs-5 fw-bold">Non-Personal Information
                            <p class="fs-5 fw-normal text-dark">We also collect information other than Personal
                                Information from You through the Website when You visit and / or use the Website. Such
                                information may be stored in server logs. This Non-Personal Information would not assist
                                Us to identify You personally.</p>
                            <p class="fs-5 fw-normal text-dark">This Non-Personal Information may include:</p>
                            <ol class="fw-normal text-dark">
                                <li class="fs-5">Your geographic location,</li>
                                <li class="fs-5">Details of Your telecom service provider or internet service provider,
                                </li>
                                <li class="fs-5">The type of browser (Internet Explorer, Firefox, Opera, Google Chrome
                                    etc.),</li>
                                <li class="fs-5">The operating system of Your system, device and the Website You last
                                    visited before visiting the Website,</li>
                                <li class="fs-5">Log files and device information;</li>
                                <li class="fs-5">The duration of Your stay on the Website is also stored in the session
                                    along with the date and time of Your access,</li>
                            </ol>
                            <br />
                            <p class="fs-5 fw-normal text-dark">Non-Personal Information is collected through various
                                ways such through the use of cookies/web beacons/embedded scripts and security software
                                used for security and fraud detection purposes. We may store temporary or permanent
                                "cookies" on Your computer. You can erase or choose to block these cookies from Your
                                computer. By accessing Our Website You agree to the download/storage of cookie's on your
                                computer system. You can configure Your computer's browser to alert You when we attempt
                                to send You a cookie with an option to accept or refuse the cookie. If You have turned
                                cookies off, You may be prevented from using certain features of the Website. You also
                                agree by the use of the Website to allow Us to place cookies upon your computer system
                                and use cookies/web beacons/embedded scripts and security software used for security and
                                fraud detection purposes to collect information about You.</p>
                            <p class="fs-5 fw-normal text-dark">Ads: We may use third-party service providers to serve
                                ads on Our behalf across the internet and sometimes on the Website. They may collect
                                Non- Personal Information about Your visits to the Website, and Your interaction with
                                Our products and services on the Website.</p>
                        </li>
                    </ol>
                    <p class="fs-5 fw-normal text-dark">Please do note that Personal Information and Non-Personal
                        Information may be treated differently as per this Privacy Policy.</p>
                    <p class="fs-5 fw-normal text-dark">You hereby represent to Us that:</p>
                    <ol class="fw-normal text-dark" type="i">
                        <li class="fs-5">The Information You provide to Us from time to time is and shall be authentic,
                            correct, current and updated and You have all the rights, permissions and consents as may be
                            required to provide such Information to Us.</li>
                        <li class="fs-5">Your providing the Information to Us and Our consequent storage, collection,
                            usage, transfer, access or processing of the same shall not be in violation of any third
                            party agreement, laws, charter documents, judgments, orders and decrees.</li>
                        <li class="fs-5">If You are providing Information (including Personal Information) of a third
                            party (such as family or friends) You hereby warrant that You are responsible for the
                            disclosure of such information and you have the full authority and right to disclose the
                            Information. Furthermore, the Information so disclosed shall also be bound by this Privacy
                            Policy.</li>
                        <li class="fs-5">Please do not include or provide any Personally Identifiable Information or
                            Sensitive Personal Information unless specifically requested as part of the registration or
                            other applicable processes. Also, do not provide any Information pertaining to another
                            person if you are not authorized to provide such information on behalf of such other person.
                            If you have provided or uploaded any Information which violates the terms of this Privacy
                            Policy, we may be required to delete such Information upon informing you of the same and
                            revoke your access if required without incurring any liability to you.</li>
                        <li class="fs-5">All the Information provided to Us by you, including Personally Identifiable
                            Information or any Sensitive Personal Information, is voluntary. You understand that We may
                            use certain information of Yours as provided below.</li>
                    </ol>
                    <p class="fs-5 fw-normal text-dark">Your Information will primarily be stored in electronic form
                        however certain data can also be stored in physical form. We may store, collect, process and use
                        your data in countries other than Republic of India but under compliance with applicable laws.
                        We may enter into agreements with third parties (in or outside of India) to store or process
                        your information or data. These third parties may have their own security standards to safeguard
                        your information or data and we will on commercial reasonable basis require from such third
                        parties to adopt reasonable security standards to safeguard your information / data.</p>
                </li>
                <li class="fs-2 fw-bolder text-danger mb-4">Collection, Use and Processing of Your Information
                    <p class="fs-5 fw-normal text-dark">We collect, uses, stores and processes Your Information for any
                        purpose as may be permissible under applicable laws (including where the applicable law provides
                        for such collection, usage, storage or processes in accordance with the consent of the User)
                        connected with a function or activity of Gytree and shall include the following:</p>
                    <ol class="fs-5 fw-normal text-dark">
                        <li>To facilitate Your use of the Website or other Services;</li>
                        <li>To respond to Your inquiries or fulfil Your requests for information about the various
                            products and services offered on the Website;</li>
                        <li>To provide You with information about products and services available on the Website and to
                            send You information, materials, and offers from Us;</li>
                        <li>To send You important information regarding the Website, and administrative information;
                        </li>
                        <li>To send You surveys and marketing communications that We believe may be of interest to You;
                        </li>
                        <li>To personalize Your experience on the Website by presenting advertisements, products and
                            offers tailored to Your preferences;</li>
                        <li>To help You address Your issues encountered on the Website including addressing any
                            technical issues;</li>
                        <li>If You purchase any product or avail of any service from the Website, to complete and fulfil
                            Your purchase, for example, to have Your payments processed, communicate with You regarding
                            Your purchase and provide You with related customer service;</li>
                        <li>For proper administration of the Website;</li>
                        <li>To conduct internal reviews and data analysis for the Website (e.g., to determine the number
                            of visitors to specific pages within the Website);</li>
                        <li>To improve the services, content and advertising on the Website;</li>
                        <li>To provide value added services such as Single Sign On. Single Sign On shall mean a
                            session/user authentication process that permits a user to enter his/her name or mobile
                            number or e-mail address or any combination thereof and password in order to access multiple
                            websites and applications;</li>
                        <li>To facilitate various programmes and initiatives launched by Us or third party service
                            providers and business associates;</li>
                        <li>To analyze how Our services are used, to measure the effectiveness of advertisements, and to
                            facilitate payments;</li>
                        <li>To conduct academic research and surveys to protect the integrity of the Website;</li>
                        <li>To respond to legal, judicial, quasi-judicial processes and provide information to law
                            enforcement agencies or in connection with an investigation on matters related to public
                            safety, as permitted by law;</li>
                        <li>To conduct analytical studies on various aspects including user behaviour, user preferences
                            etc…;</li>
                        <li>To permit third parties who may need to contact users who have bought products from the
                            Website to facilitate installation, service and any other product related support;</li>
                        <li>To implement information security practices;</li>
                        <li>To determine any security breaches, computer contaminant or computer virus;</li>
                        <li>To investigate, prevent, or take action regarding illegal activities and suspected fraud,
                        </li>
                        <li>To undertake forensics of the concerned computer resource as a part of investigation or
                            internal audit;</li>
                        <li>To trace computer resources or any person who may have contravened, or is suspected of
                            having or being likely to contravene, any provision of law including the Information
                            Technology Act, 2000 that is likely to have an adverse impact on the services provided on
                            any Website ;</li>
                        <li>To enable a potential buyer or investor to evaluate the business of the Company.</li>
                        <li>Medical Information collected shall only be used for the purpose of enabling the Health
                            Professionals and the RMP to provide you with the necessary services. At times the same may
                            also be required to be shared to provide you customer support.</li>
                    </ol>
                    <br />
                    <p class="fs-5 fw-normal text-dark">[Individually and collectively referred to as ("Purposes")]</p>
                    <p class="fs-5 fw-normal text-dark">You hereby agree and acknowledge that the Information so
                        collected is for lawful purpose connected with a function or activity of the Company or any
                        person on Our behalf, and the collection of Information is necessary for the Purposes.</p>
                </li>
                <li class="fs-2 fw-bolder text-danger mb-4">Sharing and disclosure of Your Information
                    <ol class="fs-5 fw-normal text-dark">
                        <li>You hereby unconditionally agree and permit that We may transfer, share, disclose or part
                            with all or any of Your Information, within and outside of the Republic of India to third
                            party service providers / partners / banks and financial institutions for one or more of the
                            Purposes or as may be required by applicable law or to provide Services.</li>
                        <li>We may share statistical data and other details (other than Your Personal Information)
                            without your express or implied consent to facilitates various programmes or initiatives
                            launched by Us , our affiliates, agents, third party service providers, partners or banks &
                            financial institutions, from time to time. We may transfer/disclose/share Information (other
                            than Your Personal Information) to those parties who support our business, such as providing
                            technical infrastructure services, analyzing how our services are used, measuring the
                            effectiveness of advertisements, providing customer / buyer services, facilitating payments,
                            or conducting academic research and surveys. Notwithstanding the above, We use other third
                            parties such as a credit/debit card processing company, payment gateway, pre-paid cards,
                            payment wallet etc. to enable You to make payments for buying products or availing services
                            on the Website via an online purchase. The processing of payments or authorization is solely
                            in accordance with these third parties policies, terms and conditions and we are not in any
                            manner responsible or liable to You or any third party for any delay or failure at their end
                            in processing the payments. You are required to review the third party policies for any
                            further clarifications in this regard.</li>
                        <li>We may also share Personal Information if We believe it is necessary in order to
                            investigate, prevent, or take action regarding illegal activities, suspected fraud,
                            situations involving potential threats to the physical safety of any person, violations of
                            various terms and conditions or Our policies.</li>
                        <li>We reserve the right to disclose Your Information when required to do so by law or
                            regulation, or under any legal obligation or order under law or in response to a request
                            from a law enforcement or governmental agency or judicial, quasi-judicial or any other
                            statutory or constitutional authority or to establish or exercise our legal rights or defend
                            against legal claims.</li>
                        <li>You further agree that such disclosure, sharing and transfer of Your Personal Information
                            and Non-Personal Information shall not cause any wrongful loss to You or to any third party,
                            or any wrongful gain to us or to any third party.</li>
                    </ol>
                </li>
                <li class="fs-2 fw-bolder text-danger mb-4">Links to third party websites
                    <ol class="fs-5 fw-normal text-dark">
                        <li>Links to third-party advertisements, third-party websites or any third party electronic
                            communication service may be provided on the Website which are operated by third parties and
                            are not controlled by, or affiliated to, or associated with, Us unless expressly specified
                            on the Website.</li>
                        <li>We are not responsible for any form of transmission, whatsoever, received by You from any
                            third party website. Accordingly, We do not make any representations concerning the privacy
                            practices or policies of such third parties or terms of use of such third party websites,
                            nor do We control or guarantee the accuracy, integrity, or quality of the information, data,
                            text, software, music, sound, photographs, graphics, videos, messages or other materials
                            available on such third party websites. The inclusion or exclusion does not imply any
                            endorsement by Us of the third party websites, the website's provider, or the information on
                            the website. The information provided by You to such third party websites shall be governed
                            in accordance with the privacy policies of such third party websites and it is recommended
                            that You review the privacy policy of such third party websites prior to using such
                            websites.</li>
                    </ol>
                </li>
                <li class="fs-2 fw-bolder text-danger mb-4">Retention
                    <ol class="fs-5 fw-normal text-dark">
                        <li>We shall retain all Information that is given to Us by You, either indefinitely or at Our
                            discretion. You may request Us to delete Your data by contacting us at <a
                                href="mailto:legal@gytree.com" target="_blank">legal@gytree.com</a>. Your User Account
                            and data shall be deleted within a reasonable period. Deletion of Your data shall disqualify
                            You from using Our Services. You may however, sign up as a new user.</li>
                        <li>At present We do not store your credit card information, and all online purchasing is
                            undertaken under the sole liability and responsibility of the payment gateway.</li>
                        <li>If You wish to rectify Your Information in good faith you may contact us at <a
                                href="mailto:chitra@gytree.com" target="_blank">chitra@gytree.com</a></li>
                        <li>Rectification of Information and Data is at Our discretion and there is no inherent right
                            that the data shall be rectified. This is especially true in cases where the data cannot to
                            be allowed modification due to the law of the land or some other impediment.</li>
                        <li>Notwithstanding anything contained in this Policy or elsewhere, We shall not be held
                            responsible for any loss, damage or misuse of Your Information, if such loss, damage or
                            misuse is attributable to a Force Majeure Event. A "Force Majeure Event" shall mean any
                            event that is beyond the reasonable control of the Company and shall include, without
                            limitation, sabotage, fire, flood, explosion, acts of God, civil commotion, strikes or
                            industrial action of any kind, riots, insurrection, war, acts of government, computer
                            hacking, unauthorised access to computer, computer system or computer network,, computer
                            crashes, breach of security and encryption (provided beyond reasonable control of the
                            Company), power or electricity failure or unavailability of adequate power or electricity.
                        </li>
                        <li>While We will endeavor to take all reasonable and appropriate steps to keep secure any
                            Personal Information which We hold about You and prevent unauthorized access, You
                            acknowledge that the internet or computer networks are not fully secure and that We cannot
                            provide any absolute assurance regarding the security of Your Personal Information.</li>
                        <li>You agree that all Personal Information and Sensitive Personal Information shall be retained
                            till such time required as required by Us. Non-Personal Information will be retained
                            indefinitely.</li>
                    </ol>
                </li>
                <li class="fs-2 fw-bolder text-danger mb-4">User discretion and opt out
                    <ol class="fs-5 fw-normal text-dark">
                        <li>You agree and acknowledge that You are providing your Information out of your free will. In
                            such case You do not wish to do so, You should neither visit any Website nor use any
                            services provided by Us nor shall contact Us. Further, We may deny you access from using
                            certain services offered on the Website.</li>
                        <li>If you find any discrepancies or have any grievances in relation to the collection, storage,
                            use, disclosure and transfer of Your Personal Information under this Privacy Policy or any
                            terms of the Company's Terms of Use, Term of Sale and other terms and conditions or polices,
                            please contact the following:
                            <br />
                            <p>Email: <a href="mailto:legal@gytree.com" target="_blank">legal@gytree.com</a></p>
                            <p>The details of the grievance officer may be changed by us from time to time by updating
                                this Privacy Policy.</p>
                        </li>
                    </ol>
                </li>
                <li class="fs-2 fw-bolder text-danger mb-4">Business / Assets Sale or Transfers
                    <ol class="fs-5 fw-normal text-dark">
                        <li>We may sell, transfer or otherwise share some or all of its assets, including Your
                            Information in connection with a merger, acquisition, reorganization or sale of assets or
                            business or in the event of bankruptcy. Any third party to which any We transfer or sell as
                            aforesaid will have the right to continue to use the Information that you provide to us or
                            collected by us immediately prior to such transfer or sale.</li>
                        <li>You are also under an obligation to use this Website for reasonable and lawful purposes
                            only, and shall not indulge in any activity that is not envisaged through the Website.</li>
                    </ol>
                </li>
                <li class="fs-2 fw-bolder text-danger mb-4">Further Acknowledgements
                    <p class="fs-5 fw-normal text-dark">That You acknowledge that:</p>
                    <ol class="fs-5 fw-normal text-dark">
                        <li>The present document is clear and easily accessible and provides statements of Our policies
                            and practices with respective to the Information;</li>
                        <li>The content displayed on the Website (“Content”), trademarks, logos and service marks
                            displayed on the Website ("Marks") are the property of the Company or their vendors or
                            respective third parties. You are not permitted to use the Contents and/or the Marks without
                            the prior consent of the Company, the vendor or the third party that may own the Content
                            and/or the Marks.</li>
                        <li>The present document provides for the various types of personal or sensitive personal data
                            of information to be collected;</li>
                        <li>The present document provides for the purposes of collection and usage of the Information;
                        </li>
                        <li>The present document provides for disclosure of Information; and</li>
                        <li>The present document provides for reasonable security practices and procedures.</li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
</div>