
:host {
    height: 100%;
    margin: 0;
  }
  
  .centered {
    background: rgba(0, 0, 0, 0.71) no-repeat 0 0;
    height: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .loader-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .invisible {
    visibility: hidden;
  }
  
  .visible {
    visibility: visible;
  }