<!-- Consultation Start -->
<app-show-consultation></app-show-consultation>
<!-- Consultation End -->

<!-- Pills Start -->
<section class="my-10">
    <div *ngIf="prescriptionpillList?.length" class="fw-bolder mb-3 fs-2">My Prescriptions </div>
    <owl-carousel-o [options]="pillOption" class="responsive-arrows">
        <ng-container *ngFor="let pill of prescriptionpillList">
            <ng-template carouselSlide [id]="pill.gtpr_guid">
                <div class="card responsive-appointment-slides card-info text-white">
                    <div class="card-body">
                        <div class="fw-bolder mb-3 fs-3">
                            {{pill?.gtp_name ? 'Package Name ' + pill?.gtp_name :
                            'Doctor Name ' + pill?.gtd_name}}
                        </div>
                        <div class="d-flex">
                            <div class="me-5">
                                <div class="mb-2">Appointment Date</div>
                                <div class="">
                                    {{pill?.appointment_data?.gtap_date}}
                                </div>
                            </div>
                            <div class="ms-5">
                                <div class="mb-2">Appointment Time</div>
                                <div class="">
                                    {{pill?.appointment_data?.gtap_time}}
                                </div>
                            </div>
                        </div>
                        <button type="button" [id]="'kt_sidebar_prescription_toggle'" class="btn btn-sm btn-dark mt-1"
                            (click)="viewMoreClickHandler(pill)">
                            VIEW MORE
                        </button>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
    <!-- No data Found Start -->
    <ng-container *ngIf="prescriptionpillList && !prescriptionpillList?.length">
        <div class="text-center text-danger h1 my-10">You don't have any Prescriptions yet</div>
    </ng-container>
    <!-- No data Found End-->
</section>
<!-- Pills End -->

<!-- Packages Start -->
<section class="other-packages my-10">
    <div class="fw-bolder mb-3 fs-2">Other Packages</div>
    <div class="mb-3 fs-4">
        Our packages are backed by research and curated by trusted doctors.
    </div>
    <div class="fw-bolder mb-3 fs-3 text-danger text-end">
        <span class="cursor-pointer" (click)="viewAllPackages()">View All</span>
    </div>
    <app-show-packages [packageData]="prescriptionpackages"></app-show-packages>
</section>
<!-- Packages End -->

<ng-container *ngIf="prescriptionpillList?.length">
    <div class="sidebar overflow-auto">
        <div class="d-flex flex-column sidebar-body pt-10 flex-fill" [ngClass]="'card-background'">
            <div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center card-rounded-bottom h-200px mh-400px"
                style="background-image:url('https://image.gytree.com/assets/media/gaytree/misc/my-schedule-aside.png')">
            </div>
            <div id="kt_sidebar_prescription_content" class="pt-5 sidebar-content h-100">
                <div class="">

                    <h2 class="text-center text-white fs-1">
                        Prescription Details
                    </h2>

                    <!-- Appoinment date -->
                    <div class="card shadow-none bg-transparent">
                        <div class="card-body">
                            <div class="text-white fw-bolder mb-3 fs-2">Appointment Date</div>
                            <div class="text-white fw-bolder mb-2 fs-1">
                                {{prescriptionselectedPillList?.appointment_data?.gtap_date}}
                            </div>
                            <div class="text-white fw-bolder mb-3 fs-2">Appointment Time</div>
                            <div class="text-white fw-bolder fs-4">{{prescriptionselectedPillList?.appointment_data?.gtap_time}}
                            </div>
                        </div>
                    </div>


                    <!-- Tablets Prescribed -->
                    <div class="card shadow-none bg-transparent">
                        <div class="card-body">
                            <div class="text-white fw-bolder mb-3 fs-2">Tablets Prescribed</div>

                            <ng-container *ngFor="let medicine of prescriptionselectedPillList?.gtpr_medications?.medicines">

                                <div class="d-flex align-items-start flex-grow-1 me-2 me-sm-5">
                                    <img ngSrc="https://image.gytree.com/assets/media/gaytree/icons/pill.png" alt="pillicon"
                                        height="24" width="24" class="me-2" />
                                    <div class="me-2">
                                        <div class="text-white fs-5 text-break fw-bolder">{{medicine?.name}}</div>
                                        <div class="text-white fs-7 fw-bolder">Tablet Timing</div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center my-4">
                                    <span class="badge badge-light-primary text-dark fs-8 fw-bolder me-2">Morning -
                                        {{getMedicine(medicine.dosage,0)}}</span>
                                    <span class="badge badge-light-primary text-dark fs-8 fw-bolder me-2">Afternoon -
                                        {{getMedicine(medicine.dosage,1)}}</span>
                                    <span class="badge badge-light-primary text-dark fs-8 fw-bolder me-2">Night -
                                        {{getMedicine(medicine.dosage,2)}}</span>

                                </div>

                            </ng-container>
                            <div class="alert bg-white d-flex flex-column p-5 my-4">
                                <div class="d-flex flex-column pe-0 pe-sm-10">
                                    <p>{{prescriptionselectedPillList?.gtpr_instructions}}</p>
                                </div>
                            </div>

                            <button (click)="downloadPdf(prescriptionselectedPillList?.gtpr_url)" type="button"
                                class="btn btn-white btn-sm text-dark">Download PDF</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</ng-container>

<div id="kt_sidebar_prescription" data-kt-drawer="true" data-kt-drawer-name="prescription"
    data-kt-drawer-activate="{default: true, xxl: false}" data-kt-drawer-overlay="false"
    data-kt-drawer-width="{default:'300px', 'xl': '400px'}" data-kt-drawer-direction="end"
    data-kt-drawer-toggle="#kt_sidebar_prescription_toggle" data-kt-drawer-close="#kt_sidebar_prescription_close">
    <div class="card card-background w-100">
        <div id="kt_sidebar_prescription_body" class="h-100">
            <div id="kt_sidebar_prescription_scroll" data-kt-scroll="true" data-kt-scroll-height="auto"
                data-kt-scroll-wrappers="#kt_sidebar_prescription_body"
                data-kt-scroll-dependencies="#kt_sidebar_prescription_header" data-kt-scroll-offset="0px" class="h-100"
                style="height: 714px;">
                <div class="overflow-auto h-100 sidebar-content pt-5">
                    <h2 class="text-center fw-bolder text-white my-0 fs-1 px-5 px-xxl-10">
                        <div class="text-end">
                            <button type="button" id="kt_sidebar_prescription_close" class="btn btn-sm btn-icon">
                                <img ngSrc="https://image.gytree.com/assets/media/gaytree/icons/modal_close.svg" alt="modal_close"
                                    height="20" width="20">
                            </button>
                        </div>
                        Prescription Details
                    </h2>
                    <div class="card shadow-none bg-transparent">
                        <div class="card-body">
                            <div class="text-white fw-bolder mb-3 fs-2">Appointment Date</div>
                            <div class="text-white fw-bolder mb-2 fs-1">
                                {{prescriptionselectedPillList?.appointment_data?.gtap_date}}</div>
                            <div class="text-white fw-bolder mb-3 fs-2">Appointment Time</div>
                            <div class="text-white fw-bolder fs-1">{{prescriptionselectedPillList?.appointment_data?.gtap_time}}
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-none bg-transparent">
                        <div class="card-body">
                            <div class="text-white fw-bolder mb-3 fs-2">Tablets Prescribed</div>

                            <ng-container *ngFor="let medicine of prescriptionselectedPillList?.gtpr_medications?.medicines">

                                <div class="d-flex align-items-start flex-grow-1 me-2 me-sm-5">
                                    <img ngSrc="https://image.gytree.com/assets/media/gaytree/icons/pill.png" alt="pillicon"
                                        height="24" width="24" class="me-2" />
                                    <div class="me-2">
                                        <div class="text-white fs-5 text-break fw-bolder">{{medicine?.name}}</div>
                                        <div class="text-white fs-7 fw-bolder">Tablet Timing</div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center my-4">
                                    <span class="badge badge-light-primary text-dark fs-8 fw-bolder me-2">Morning -
                                        {{getMedicine(medicine.dosage,0)}}</span>
                                    <span class="badge badge-light-primary text-dark fs-8 fw-bolder me-2">Afternoon
                                        -
                                        {{getMedicine(medicine.dosage,1)}}</span>
                                    <span class="badge badge-light-primary text-dark fs-8 fw-bolder me-2">Night -
                                        {{getMedicine(medicine.dosage,2)}}</span>
                                </div>

                            </ng-container>
                            <div class="alert bg-white d-flex flex-column p-5 my-4">
                                <div class="d-flex flex-column pe-0 pe-sm-10">
                                    <p>{{prescriptionselectedPillList?.gtpr_instructions}}</p>
                                </div>
                            </div>

                            <button type="button" (click)="downloadPdf(prescriptionselectedPillList?.gtpr_url)"
                                class="btn btn-white btn-sm text-dark">Download PDF</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>