<div class="
    d-flex
    flex-column flex-column-fluid
    bgi-position-y-bottom
    position-x-center
    bgi-no-repeat bgi-size-contain bgi-attachment-fixed">
  <!-- style="background-image: url('https://image.gytree.com/assets/media/gaytree/background/signup-screen.svg')"> -->
  <!--begin::Content-->
  <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">

    <!--begin::Content body-->
    <div class="w-lg-500px bg-white rounded shadow-sm p-10 p-lg-15 mx-auto"
      style="background-image: url('https://image.gytree.com/assets/media/gaytree/background/signup-screen-card.svg')">
      <router-outlet></router-outlet>
    </div>
    <!--end::Content body-->
  </div>
  <!--end::Content-->

</div>