:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}

.next-btn {
  background-color: #F25769;
}

.svg-icon {
  color: white !important;
}

.text-color {
  color: #393939;
}

.border-color {
  border:solid 1px #F25769;
}

::ng-deep ng-otp-input .wrapper {
  padding-top: 0px !important;
  padding-left: 0px !important;
}
