<div class="container">
    <div class="d-flex justify-content-center container mt-10">
        <div class="bg-transparent col-12 col-md-8 mb-8 px-4">
            <div class="d-flex align-items-center card bg-transparent mb-4 overflow-hidden h-100">
                <img class="rounded img-size" img-preloader="{{founder?.image}}" alt="founder">
                <div>
                    <div class="fs-4 fw-bolder mt-3 mx-4">{{founder?.title}}</div>
                    <div class="fs-4 fw-bolder mx-4">{{founder?.position}}</div>
                    <div class="fs-5 my-3 mx-4">{{founder?.description}}</div>
                </div>
            </div>
        </div>
    </div>
</div>