.card {
  background-color: #58adae;
  background-image: url('https://image.gytree.com/assets/media/gaytree/background/invoice_background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #58adae;
}

.text-primary-g {
  color: #58adae;
}

.btn-expand {
  background: white;
  color: #58adae;
  padding: 0.25rem 0.7rem !important;
  border-radius: 14px;
}

.invoice_description_test {
  height: 45px !important;
}

.h-184 {
  height: 184px;
}

.h-241 {
  height: 241px;
}

.wrap-class {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}