<div class="menu-item" [class.p-05]="isPortrait">
  <a
    class="menu-link without-sub"  [class.p-link]="isPortrait"
    routerLink="/dashboard"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'https://image.gytree.com/assets/media/gaytree/icons/dashboard.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title">My Dashboard</span
  ></a>
</div>
<div class="menu-item" [class.p-05]="isPortrait" [class.p-05]="isPortrait">
  <a
    class="menu-link without-sub"  [class.p-link]="isPortrait"
    routerLink="/schedule"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'https://image.gytree.com/assets/media/gaytree/icons/shedule.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title">My Schedule</span
  ></a>
</div>
<div class="menu-item" [class.p-05]="isPortrait">
  <a
    class="menu-link without-sub"  [class.p-link]="isPortrait"
    routerLink="/prescription"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'https://image.gytree.com/assets/media/gaytree/icons/prescription.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title">My Prescription</span
  ></a>
</div>
<div class="menu-item" [class.p-05]="isPortrait">
  <a
    class="menu-link without-sub"  [class.p-link]="isPortrait"
    routerLink="/package"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'https://image.gytree.com/assets/media/gaytree/icons/package.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title">My Packages</span
  ></a>
</div>
<div class="menu-item" [class.p-05]="isPortrait">
  <a
    class="menu-link without-sub"  [class.p-link]="isPortrait"
    routerLink="/book-test"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'https://image.gytree.com/assets/media/gaytree/icons/book-test.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title">Book a Test</span
  ></a>
</div>
<div class="menu-item" [class.p-05]="isPortrait">
  <a
    class="menu-link without-sub"  [class.p-link]="isPortrait"
    routerLink="/book-doctor"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'https://image.gytree.com/assets/media/gaytree/icons/book-doctor.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title">Book an Expert</span
  ></a>
</div>
<div class="menu-item" [class.p-05]="isPortrait">
  <a
    class="menu-link without-sub"  [class.p-link]="isPortrait"
    routerLink="/invoice"
    routerLinkActive="active"
    ><span class="menu-icon">
      <span
        [inlineSVG]="'https://image.gytree.com/assets/media/gaytree/icons/invoice.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </span>
    <span class="menu-title">Invoice</span
  ></a>
</div>
