<div class="container d-flex flex-stack flex-wrap gap-2" id="kt_header_container">

  <!--begin::header menu toggle-->
  <div class="d-flex d-lg-none navbar-light align-items-center ms-n2 me-2 w-100" title="Show aside menu">
    <div class="btn btn-icon btn-active-icon-primary" id="kt_aside_toggle">
      <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
      <span class="navbar-toggler-icon mt-6"></span>
      <!--end::Svg Icon-->
    </div>
    <a routerLink="/" class="d-flex align-items-center mx-auto">
      <img alt="Logo"  ngSrc="https://image.gytree.com/assets/media/gaytree/icons/gytree.svg" height="60" width="60" class="h-60px">
    </a>
  </div>
  <!--end::Heaeder menu toggle-->
</div>